.user-pic-name {
    position: relative;
    width: 100%;
    height: 30vh;
  }
  
  .user-pic-name img {
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .details {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .details h4 {
    text-align: left;
  }
  